.git-gutter-marker {
	width: 3px;
	height: 100%;
	position: relative;
}

.git-gutter-marker-added {
	background-color: #2ea043;
}

.git-gutter-marker-modified {
	background-color: #0078d4;
}

.git-gutter-marker-deleted::before {
	content: " ";
	height: 4px;
	width: 100%;
	background: #f85149;
	display: block;
	top: -2px;
	position: absolute;
}
